#avatar{
	height: 233px;
	width: 128px;
	position: relative;
	float: left;
	margin-left: 80px;
	margin-top: 70px;
}
#info{
	margin-top: 70px;
	margin-left: 50px;
	height: 233px;
	width: 490px;
	position: relative;
	float: left;
}
#info .form-group{
	margin-bottom: 30px;
	margin-left: 20px;
	position: relative;
	float: left;
}
#info label{
	width: 60px;
}
#info button{
	margin-top: 9px;
	margin-left: 19px;
	width: 197px;
}
