.classes{
	padding: 8px;
	width: 150px;
	height: 176px;
	background-color: #FFFFFF;
	margin-left: 20px;
	position: relative;
	float: left;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.ioc-classes{
	width: 110px;
	height: 110px;
	margin: 0 auto;
	background-color: #08090B;
	margin-top: 18px;
}
.classes-name{
	padding: 8px;
	text-align: center;
}
.classes-navigation{
	width: 100%;
	height: 60px;
	position: inherit;
	margin-top: -65px;
	margin-bottom: 85px;
	padding-top: 30px;
	padding-left: 18px;
}




