<!doctype html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/showWork.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/workDetail.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/submitWord.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/msg.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/showWork.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/projects.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/perInfo.css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"> <!-- Resource style -->
	<script src="{{ STATIC_URL }}js/modernizr.js"></script> <!-- Modernizr -->
  	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
	
<body>
	{% block content %}{% endblock %}
	<script src="{{ STATIC_URL }}js/jquery-2.1.4.js"></script>
<script src="{{ STATIC_URL }}js/velocity.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>