<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>menu</title>
<style type="text/css">

</style>
</head>
<body style="background-color: #efefef;">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/projects.css"> <!-- CSS reset -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"> <!-- Resource style -->
	<script src="{{ STATIC_URL }}js/modernizr.js"></script> <!-- Modernizr -->
</body>
</html>