<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>

<body>
<h1>注册：</h1>
<form method = 'POST' enctype="multipart/form-data" name="UserForm">
	{% csrf_token %}
     <input type="text" name="account">
     <input type="password" name="password">
     <!-- <input type="password" name="verify-password"> -->
    <input type="submit" value = "ok" />
</form>
<br>
</body>
</html>