#show-work{
	margin-top: 70px;
	width: 600px;
	height: 100%;
	background-color: #FFFFFF;
	position: relative;
	float: left;
	margin-left: 85px;
	padding: 5px;
}
#write-task{
	margin-top: 70px;
	width: 640px;
	height: 100%;
	background-color: #FFFFFF;
	position: relative;
	float: right;
	padding: 5px;
	margin-right: 20px;
}
.write-textarea{
	height: 600px;
}
#task-submit{
	width: 80px;
	position: absolute;
	float: right;
}


/*side-bar*/
.side-bar a,.chat-tips i {background: url(right_bg.png) no-repeat;} 
.side-bar {width: 35px;position: fixed;bottom: 5px;right: 25px;font-size: 0;line-height: 0;z-index: 100;} 
.side-bar a {width: 35px;height: 35px;display: inline-block;margin-bottom: 8px;} 
.side-bar a:hover {} 
.side-bar .icon-qq {background-position: 0 -62px;} 
.side-bar .icon-chat {background-position: 0 -130px;position: relative;} 
.side-bar .icon-blog {background-position: 0 -198px;} 
.side-bar .icon-mail {background-position: 0 -266px;} 