<!doctype html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/projects.css"> <!-- CSS reset -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"> <!-- Resource style -->
	<script src="{{ STATIC_URL }}js/modernizr.js"></script> <!-- Modernizr -->
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  	
	<title>Animated Page Transition #2 | CodyHouse</title>
</head>
	
<body>
	<nav class="navigation">
		<ul>
			<li>
				<a href="index.html" id="active">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					<br/>
					主页
				</a>
			</li>

			<li>
				<a href="http://www.baidu.com" >
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<br/>
					个人信息
				</a>
			</li>

			<li>
				<a href="{% url 'course' %}" >
					
					<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
					<br/>
					课程
				</a>
			</li>

			<li>
				<a href="{% url 'msg' %}"  >
					
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					<br/>
					私信
				</a>
			</li>
		</ul>
	</nav> <!-- .cd-side-navigation -->
	
	<main class="cd-main">
		<section class="cd-section projects visible">
			<!--<header>
				<div class="cd-title">
					<h2>Projects</h2>
					<span>See My class&work</span>
				</div>

				<a href="#projects-content" class="cd-scroll">Scroll Down</a>
			</header>-->

			<div class="cd-content" id="projects-content">
					<div class="classes-navigation">
					    <ul class="nav nav-tabs">
					 	  <li role="presentation" ><a href="#">主页</a></li>
						  <li role="presentation" class="active"><a href="{% url 'course' %}">课程</a></li>
						</ul>
						
					</div>
					{% for course in courses %}
					<div class="classes">
						<div class="ioc-classes"></div>
						<div class="classes-name">
							<!-- 进入当前课程的作业详细界面 -->
							<a href="{% url 'courseExercises' course.id %}">
								{{ course.coure}}  
								<span class="badge">
								{{ course.num_unfinished}} 
								</span>
							</a>
						</div>
					</div>
					{% endfor %}
					
					
					
			</div> <!-- .cd-content -->
		</section> <!-- .cd-section -->
	</main> <!-- .cd-main -->

	<div id="cd-loading-bar" data-scale="1" class="projects"></div> <!-- lateral loading bar -->
<script src="{{ STATIC_URL }}js/jquery-2.1.4.js"></script>
<script src="{{ STATIC_URL }}js/velocity.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>