<!DOCTYPE html>
<html>
	<link rel="stylesheet"type="text/css" href="{{ STATIC_URL }}css/mysourse.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/head.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<style type="text/css">
		h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
		h2.top_title span{font-size:12px; color:#666;font-weight:500}
	</style>
	
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body style="background-color: #efefef;">
		<div class="top-menu">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">首页</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">课程 <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">作业</a></li>
		        <li><a href="#">帮助</a></li>

		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="te" class="btn btn-default">搜索</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		         <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
		 		 <li role="presentation"><img src="img/2.jpg"  style="margin-top: 8px;width: 35px;height: 35px;"class="img-circle"> </li>
		      	 <li style="margin-top: 15px;margin-left: 15px;"> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	
	<div class="left-menu navbar-fixed-top">
		<div class="container-fluid ">
			    <div role="navigation" id="header" class="navbar-fixed-top">
					<ul class="nav nav-pills  nav-stacked">
					  <li role="presentation" style=" margin-top: 70px;">
					  	<a href="#">主页</a>
					  </li>
					  <li role="presentation"><a href="#">课程</a></li>
					  <li role="presentation"><a href="#">作业</a></li>
					  <li role="presentation"><a href="#">通知</a></li>
					</ul>
			</div>
		</div>
	</div>

	<div id="show-task">
			<div class="show-task-header">
			  我的课程
			  <a ng-href="/user/projects" class="more-link" href="/user/projects">查看所有</a>
			</div>
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">所有</a></li>
			  <li role="presentation"><a href="#">作业</a></li>
			  <li role="presentation"><a href="#">任务</a></li>
			</ul>

            <div class="times"><ul>
				<section id="cd-timeline" class="cd-container">
					{% for course_exercise in course_exercises %}
					<div class="cd-timeline-block">

						<div class="cd-timeline-img cd-picture">
							<img src="img/cd-icon-picture.svg" >
						</div>
						<div class="cd-timeline-content">
							<h3>{{course_exercise.ex_title}}</h3>
							<p id="exercise_content"> {{course_exercise.ex_content}}</p>
							<a href="#" class="cd-read-more" target="_blank">阅读全文</a>
							<span class="cd-date">{{course_exercise.ex_end_time}}</span>
						</div>
						
					</div>
					 {% endfor %}
				</section>	
        	</div>	
			</div>
			
			
			
		</div>
		<div id="my-show">
			<div class="my-show-header">
			  动态
			</div>
	</div>
		
		
		
	</body>
	
</html>
