<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>

	<body>
		<div class="main">
			<!--<div class="alert">  
				<a class="close" data-dismiss="alert">×
				</a>  <strong>警告！</strong> 不要拿法律当挡箭牌。
			</div>-->
			<div class="container" class="header">
				<div class="hero-unit" id="log">
							 <h1>XXX，真汉子！</h1>  
							 <p>主角单元Hero Unit是一简单的大屏组件，用于增强内容或信息的吸引力 </p>  
				</div>
				<div id="login">
					<div class="login_box">
						<div id="login_btn">
							<a>登录</a>
						</div>
						<div id="reg_btn">
							<a>注册</a>
						</div>
					</div>
					<div class="login_box">
						<fieldset class="control-group error">
							<input type="text" class="span3" id="user" placeholder="请输入文字...">
						</fieldset>
					</div>
					<div class="login_box">
						<fieldset class="control-group error">

							<input type="password" class="span3 " name="password" id="password" value="" />

						</fieldset>
					</div>
					<div class="login_box">
						<div id="verify_img">

						</div>
						<div id="verify_info">
							<a>看不清</a>
						</div>
					</div>
					<div class="login_box">
						<input type="button" class=" btn btn-primary" id="sure_btn" value="登录"> </input>
					</div>
					<div class="login_box">
						<a> 社交账号                      XXXXXXXXXXX</a>
					</div>
				</div>
			</div>
			<div class="container" >
				<div id="top_user"class="span4" >  
					<div class="row container">      
						<div class="span1">小组</div>      
						<div class="span1">问答</div>
						<div class="span1">学科</div>    
					</div>
				</div>
				<div id="top_line">
					<div class="row">
						<div id="avatar" class="span1"></div>
						<div class="span4"> 主角单元Hero Unit是一简单的大屏组件，用于增强内容或信息的吸引力</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>