.stu-works{
	width: 50%;
	height: 100%;
	padding: 20px;
	margin-top: -40px;
	padding-top:40px ;
	float: left;
	border-right: 2px solid #ddd;
	position: inherit;
}
.works-content{
	width: 50%;
	height: 100%;
	padding-left:10px ;
	margin-top: -40px;
	float: left;
	position: inherit;
}
#titel-detail{
	background-color: #EBEBEB;
}